.custom-table {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

.custom-table th, .custom-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}